/*
 * Sub Tabs (Within Main)
 */

@import "compass/css3/border-radius";

$tab_color: #EEE;
$current_tab_color: #006EB6;

#main {
  .tabstrip {
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 10px;
    min-height: 30px;
    border-bottom: 3px solid $current_tab_color;

    ul.tabs {
      list-style-type: none;
      padding: 0;
      margin: 0;
      vertical-align: middle;

      li.tab {
        float: left;
        padding: 0;
        margin: 0;
        min-height: 30px;
        min-width: 80px;
        margin-left: 4px;

        text-decoration: none;
        text-align: center;
        font-family: "Arial";
        font-weight: bold;
        font-size: 14px;

        background: $tab_color;

        @include border-top-radius(8px);

        a, a:hover, span {
          text-decoration: none;
          display: block;
          padding: 5px 5px 5px 5px;
          color: #000000;
        }

        .accessible_tooltip
        {
          a, span
          {
            padding: 0;
            display: inherit;
          }

          a
          {
            display: inline-block;
            position: relative;
            top: 2px;

            img.small-icon
            {
              position: relative;
              top: 1px;
            }
          }

          span.label
          {
            font-weight: bold;
            cursor: pointer;
          }

          span.tooltip
          {
            color: inherit;
            position: absolute;
            text-align: left;
            padding: 10px;
            padding-left: 25px;
            margin-left: 5px;
          }
        }

        &.current {
          background: $current_tab_color;

          span {
            color: #FFFFFF;

            &.label
            {
              cursor: inherit;
            }
          }
        }
      }
    }
  }

  .tab_content
  {
    padding-top: 15px;
  }
}
